{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}
	<h1>Liste des clients / gestion de matériel</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Prenom</th>
				<th>Nom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr>
					<td>{{ client.id }}</td>
					<td>{{ client.Prenom }}</td>
					<td>{{ client.Nom }}</td>
					<td>
						<a href="{{ path('client_show', {'id': client.id}) }}">Voir liste matériel</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('client_new') }}">Créer un nouveau client</a>
{% endblock %}
